<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springcrud.mapper.BoardMapper">
    <select id="getList" resultType="com.example.springcrud.domain.Board">
        SELECT * FROM tbl_board;
    </select>

    <select id="uploadBoard" resultType="com.example.springcrud.domain.Board">
        INSERT INTO tbl_board (title,content,name) VALUES (#{title},#{content},#{name});
    </select>

    <select id="getBoard" resultType="com.example.springcrud.domain.Board">
        SELECT * FROM tbl_board where boardId=#{boardId};
    </select>
    <select id="updateBoard" resultType="com.example.springcrud.domain.Board">
        UPDATE tbl_board set title=#{title}, content=#{content} where boardId=#{boardId};
    </select>
    <select id="deleteBoard" resultType="com.example.springcrud.domain.Board">
        delete from tbl_board where boardId=#{boardId};
    </select>
</mapper>