<!DOCTYPE html>
<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">>
    <table class="table table-hover">
        <thead>
        <th>글번호</th>
        <th>작성자</th>
        <th>제목</th>
        </thead>
        <tr th:each="list :${list}">
            <td>[[${list.boardId}]]</td>
            <td>[[${list.name}]]</td>
            <td><a th:href="@{view(boardId=${list.boardId})}">[[${list.title}]]</a></td>
        </tr>
    </table>
    <button onclick="location.href='/upload'">글쓰기</button>
</div>

</body>
</html>